html {
  height: 100%;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: auto;
  padding: 1rem;
  font-weight: bolder;
  background-color: #8dd1d6;
  border-bottom: 4px solid #D53500;
}
body {
  text-align: center;
  background: white;
  color: black;
}

.clip {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  float: left;
  width: 88px;
  height: 88px;
  margin: 0;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.winner {
  font-size: 1.5rem;
  font-style: bolder;
  color:#D53500;
  margin-bottom: 2px;
}
button {
  margin-top: 10px;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px 1px 1px 1px;
  color: #D53500;
  background-color: #8dd1d6;
  text-transform: uppercase;
  padding: .3rem .5rem;
  transition: 0.3s ease all;
  cursor: pointer;
  &:hover {
    background-color: #61b8cc;
  }
}

li {
  margin-top:12px;
 
}

h1 {
  font-size: 2.5rem;
  color:#D53500;
  text-shadow: 2px 2px 2px #000;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color:#8dd1d6;
  border-top: 3px solid #D53500;
}
.button {
  display: flex;
  align-self: flex-end;
}