body, html {
  margin: 0;
}

body {
  font-family: Verdana, serif;
  background-color: #EEEEEE;
  font-size: 20px;
}

.clip {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7*/
  clip: rect(1px, 1px, 1px, 1px);
}

.grid, .panel {
  padding-top: 20px;
  width: 360px;
  text-align: center;
  margin: auto;
  clear: both;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #555555;
  color: #FFFFFF;
  cursor: pointer;
}

.button1 {
  display: inline-block;
  float: left;
  background-color: #ff8600;
  width: 100px;
  height: 100px;
  margin: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  line-height: 100px;
  cursor: pointer;
}

.square:nth-child(3n+1) {
  clear: left;
}

.status {
  display: block;
  width: 100%;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  background-color: #ff8600;
}




